In [54]:
numbers = [3, 6, 98, 23, 46, 56, 83]
numbers.sort()
count = numbers.count(56)
print(numbers)

[3, 6, 23, 46, 56, 83, 98]

# Функциональное программирование

In [55]:
import random

In [56]:
numbers = []
for i in range (10):
    numbers.append(random.randint(0,20))
print(numbers)

[9, 17, 7, 17, 17, 0, 9, 19, 13, 2]

In [57]:
def is_even(numbers):                  # принимает параметр
    return numbers % 2 == 0
print(is_even(2))

True

In [58]:
even_numbers = list(filter(is_even, numbers))
print(even_numbers)

[0, 2]

In [59]:
odd_numbers = list(map(lambda x: x + 1 , even_numbers)) #map-отдельный список, list-увидим список выполнения функции
print(odd_numbers)

[1, 3]

In [60]:
odd_numbers = list(filter(lambda x: x % 2 != 0, numbers))
print(odd_numbers)

[9, 17, 7, 17, 17, 9, 19, 13]

In [61]:
objects = list(map(lambda x: {'value' : x}, numbers))
print(objects)

[{'value': 9}, {'value': 17}, {'value': 7}, {'value': 17}, {'value': 17}, {'value': 0}, {'value': 9}, {'value': 19}, {'value': 13}, {'value': 2}]

# Запросы к внешним ресурсам

In [62]:
import json
import requests
import urllib.

SyntaxError: invalid syntax (781161525.py, line 3)

# Работа с табицами #

In [ ]:
ar = [[1,2],[3,4]]
ar

[[1, 2], [3, 4]]

In [ ]:
for i in range(len(ar)):
    print(ar[i])

[1, 2]
[3, 4]

In [ ]:
for i in range(len(ar)):    
    for j in range(len(ar[i])):
        print(ar[i][j])

1
2
3
4

In [ ]:
%pip install -q Pandas
import pandas as pd

[notice] A new release of pip available: 22.2.2 -> 22.3.1
[notice] To update, run: C:\Users\user\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

Note: you may need to restart the kernel to use updated packages.

In [ ]:
sr = pd.Series ([4,5,6.0])
sr

0    4.0
1    5.0
2    6.0
dtype: float64

In [ ]:
sr.sum()

15.0

In [ ]:
sr[0] #получение значпо индефикатору

4.0

# Dataframe #

In [63]:
pd.DataFrame([[1,2,3],[4,5,6]])  #creat the table

   0  1  2
0  1  2  3
1  4  5  6

In [64]:
df = pd.DataFrame ([[1,2,3],[4,5,6]], columns=['id','a','b'])
df

   id  a  b
0   1  2  3
1   4  5  6

In [ ]:
df['id'] #получение значений столбца

0    1
1    4
Name: id, dtype: int64

In [ ]:
df[['id','b']]

   id  b
0   1  3
1   4  6

In [ ]:
df[['id','b']].loc[0]  #Получение по столбцам и строкам

id    1
b     3
Name: 0, dtype: int64

In [ ]:
df = pd.DataFrame ([[1,2,3],[4,5,6]],
 columns=['id','a','b'],
 index = ['go','stay'])
df

      id  a  b
go     1  2  3
stay   4  5  6

In [ ]:
df.loc['go']

id    1
a     2
b     3
Name: go, dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, go to stay
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      2 non-null      int64
 1   a       2 non-null      int64
 2   b       2 non-null      int64
dtypes: int64(3)
memory usage: 172.0+ bytes

In [ ]:
df.transpose() #меняеет местами

    go  stay
id   1     4
a    2     5
b    3     6

In [ ]:
#создание таблицы из словарей
df=pd.DataFrame([{'id': 1, 'a': 2, 'b': 3},{'id': 4, 'a': 5, 'b': 6}])
df

   id  a  b
0   1  2  3
1   4  5  6

In [ ]:
#создание таблицы из словарей с различными ключами, NaN - Not a Number
df=pd.DataFrame([{'id': 1, 'a': 2, 'b': 3},{'id': 4, 'a': 5, 'c': 6}])
df

   id  a    b    c
0   1  2  3.0  NaN
1   4  5  NaN  6.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      2 non-null      int64
 1   a       2 non-null      int64
 2   b       1 non-null      float64
 3   c       1 non-null      float64
dtypes: float64(2), int64(2)
memory usage: 192.0 bytes

**09.11.2022    NaN**

In [65]:
df.notna().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      2 non-null      bool
 1   a       2 non-null      bool
 2   b       2 non-null      bool
dtypes: bool(3)
memory usage: 134.0 bytes

In [67]:
df = pd.DataFrame([{'id': 1, 'a': 2},
{'id': 3, 'a': 4, 'b': 4},
{'id': 5, 'a': 6, 'b': 7},
{'id': 8, 'a': 9, 'b': 10}])
df

   id  a     b
0   1  2   NaN
1   3  4   4.0
2   5  6   7.0
3   8  9  10.0

In [70]:
df['b'].notna().count()

4

In [71]:
df[df['b'].isna()]

   id  a   b
0   1  2 NaN

In [72]:
df

   id  a     b
0   1  2   NaN
1   3  4   4.0
2   5  6   7.0
3   8  9  10.0

In [74]:
df.fillna(0)

   id  a     b
0   1  2   0.0
1   3  4   4.0
2   5  6   7.0
3   8  9  10.0

In [76]:
df.fillna(df['b'].mean())

   id  a     b
0   1  2   7.0
1   3  4   4.0
2   5  6   7.0
3   8  9  10.0

In [77]:
df.fillna(df['b'].sum())

   id  a     b
0   1  2  21.0
1   3  4   4.0
2   5  6   7.0
3   8  9  10.0

In [78]:
df.fillna(df['b'].mean())['b'].mean()

7.0

In [79]:
df['b'].median()

7.0

In [81]:
df['b'].mode()

0     4.0
1     7.0
2    10.0
Name: b, dtype: float64

In [82]:
df.fillna(4)['b'].mode()

0    4.0
Name: b, dtype: float64

In [83]:
df.max

<bound method NDFrame._add_numeric_operations.<locals>.max of    id  a     b
0   1  2   NaN
1   3  4   4.0
2   5  6   7.0
3   8  9  10.0>

In [84]:
df['b'].max()

10.0

In [85]:
df.sum()

id    17.0
a     21.0
b     21.0
dtype: float64

In [86]:
df['b'].fillna(0)

0     0.0
1     4.0
2     7.0
3    10.0
Name: b, dtype: float64

In [90]:
df = pd.DataFrame([{'id': 1, 'b': 8},
{'id': 3, 'a': 4},
{'id': 5, 'a': 6, 'b': 7},
{'id': 8, 'a': 9, 'b': 10}])
df

   id     b    a
0   1   8.0  NaN
1   3   NaN  4.0
2   5   7.0  6.0
3   8  10.0  9.0

In [91]:
df['b'] = df['b'].fillna(df['b'].mean())
df

   id          b    a
0   1   8.000000  NaN
1   3   8.333333  4.0
2   5   7.000000  6.0
3   8  10.000000  9.0

In [93]:
df = pd.DataFrame([{'id': 1, 'Name': 8},
{'id': 3, 'Name': 7, 'Cost': 4},
{'id': 5, 'Name': 6, 'Cost': 7},
{'id': 8, 'Name': 9, 'Cost': 10}])
df

   id  Name  Cost
0   1     8   NaN
1   3     7   4.0
2   5     6   7.0
3   8     9  10.0

In [ ]:
#переименование как словарьи

In [94]:
df.set_index('id') #использование столбца, как индефикатор

    Name  Cost
id
1      8   NaN
3      7   4.0
5      6   7.0
8      9  10.0

In [95]:
df.set_index(['id','Name' ]) #мспользование композитного индефикатора

         Cost
id Name
1  8      NaN
3  7      4.0
5  6      7.0
8  9     10.0

In [100]:
df = pd.DataFrame([{'id': 1, 'a': 2},
{'id': 3, 'b': 4},
{'id': 5, 'a': 6, 'b': 7},
{'id': 8, 'a': 9, 'b': 10}])
df

   id    a     b
0   1  2.0   NaN
1   3  NaN   4.0
2   5  6.0   7.0
3   8  9.0  10.0

In [101]:
df['b'].ffill()

0     NaN
1     4.0
2     7.0
3    10.0
Name: b, dtype: float64

In [102]:
df['a'].bfill()

0    2.0
1    6.0
2    6.0
3    9.0
Name: a, dtype: float64